<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${#strings.isEmpty(patient.patientID) ? 'Neuen Patienten hinzufügen' : 'Patient bearbeiten'}">Formular</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>
<div class="container mt-5">
    <h2 class="mb-4" th:text="${#strings.isEmpty(patient.getPatientID()) ? 'Neuen Patienten hinzufügen' : 'Patient bearbeiten'}"></h2>

    <form th:if="${patient.getId() == null}" th:action="@{/www/patienten/add}"
          th:object="${patient}" method="post" class="needs-validation" novalidate>

        <div class="mb-3">
            <label for="vorname" class="form-label">Name</label>
            <input type="text" th:field="*{name}" class="form-control" id="vorname" required>
            <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>


        <div class="mb-3">
            <label for="svnr" class="form-label">Sozialversicherungsnummer</label>
            <input type="number" th:field="*{svnr}" class="form-control" id="svnr" required>
            <div class="text-danger" th:if="${#fields.hasErrors('svnr')}" th:errors="*{svnr}"></div>
        </div>

        <div class="mb-3">
            <label for="geburtsdatum" class="form-label">Geburtsdatum</label>
            <input type="date" th:field="*{gebDatum}" class="form-control" id="geburtsdatum" required>
            <div class="text-danger" th:if="${#fields.hasErrors('gebDatum')}" th:errors="*{gebDatum}"></div>
        </div>

        <div class="mb-3">
            <label for="versicherungsart" class="form-label">Versicherungsart</label>
            <select th:field="*{versicherungsart}" class="form-select" id="versicherungsart" required>
                <option value="" disabled selected>Bitte wählen…</option>
                <option th:each="fg : ${T(com.example.zellervandecastellpatientenverwaltung.domain.Versicherungsart).values()}"
                        th:value="${fg}" th:text="${fg}"></option>
            </select>
            <div class="text-danger" th:if="${#fields.hasErrors('versicherungsart')}" th:errors="*{versicherungsart}"></div>
        </div>

        <fieldset class="mb-3">
            <legend>Adresse</legend>
            <div class="mb-2">
                <label for="strasse" class="form-label">Straße</label>
                <input type="text" th:field="*{adresse.strasse}" class="form-control" id="strasse" required>
            </div>
            <div class="mb-2">
                <label for="hausnr" class="form-label">Hausnummer</label>
                <input type="text" th:field="*{adresse.hausNr}" class="form-control" id="hausnr" required>
            </div>
            <div class="mb-2">
                <label for="plz" class="form-label">PLZ</label>
                <input type="text" th:field="*{adresse.plz}" class="form-control" id="plz" required>
            </div>
            <div class="mb-2">
                <label for="stadt" class="form-label">Stadt</label>
                <input type="text" th:field="*{adresse.stadt}" class="form-control" id="stadt" required>
            </div>
        </fieldset>

        <fieldset class="mb-3">
            <legend>Telefonnummer</legend>
            <div class="mb-2">
                <label for="lkennzahl" class="form-label">Landeskennzahl</label>
                <input type="text" th:field="*{telefonNummer.lkennzahl}" class="form-control" id="lkennzahl" required>
            </div>
            <div class="mb-2">
                <label for="okennzahl" class="form-label">Ortskennzahl</label>
                <input type="text" th:field="*{telefonNummer.okennzahl}" class="form-control" id="okennzahl" required>
            </div>
            <div class="mb-2">
                <label for="rufnummer" class="form-label">Rufnummer</label>
                <input type="text" th:field="*{telefonNummer.rufnummer}" class="form-control" id="rufnummer" required>
            </div>
            <div class="mb-2">
                <label for="art" class="form-label">Art</label>
                <select th:field="*{telefonNummer.art}" class="form-select" id="art" required>
                    <option value="" disabled selected>Bitte wählen…</option>
                    <option th:each="art : ${T(com.example.zellervandecastellpatientenverwaltung.domain.TelefonNummerArt).values()}"
                            th:value="${art}" th:text="${art}"></option>
                </select>
            </div>
        </fieldset>

        <div class="d-flex justify-content-between">
            <a th:href="@{/www/patienten}" class="btn btn-secondary">Zurück</a>
            <button type="submit" class="btn btn-primary">Speichern</button>
        </div>
    </form>

    <form th:if="${patient.patientID != null}" th:action="@{'/www/patienten/edit/' + ${patient.patientID.id}}"
          th:object="${patient}" method="post" class="needs-validation" novalidate>

        <input type="hidden" th:field="*{patientID.id}" />

        <div class="mb-3">
            <label for="vorname-edit" class="form-label">Name</label>
            <input type="text" th:field="*{name}" class="form-control" id="vorname-edit" required>
            <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>


        <div class="mb-3">
            <label for="svnr-edit" class="form-label">Sozialversicherungsnummer</label>
            <input type="number" th:field="*{svnr}" class="form-control" id="svnr-edit" required>
            <div class="text-danger" th:if="${#fields.hasErrors('svnr')}" th:errors="*{svnr}"></div>
        </div>

        <div class="mb-3">
            <label for="geburtsdatum-edit" class="form-label">Geburtsdatum</label>
            <input type="date" th:field="*{gebDatum}" class="form-control" id="geburtsdatum-edit" required>
            <div class="text-danger" th:if="${#fields.hasErrors('gebDatum')}" th:errors="*{gebDatum}"></div>
        </div>

        <div class="mb-3">
            <label for="versicherungsart-edit" class="form-label">Versicherungsart</label>
            <select th:field="*{versicherungsart}" class="form-select" id="versicherungsart-edit" required>
                <option value="" disabled>Bitte wählen…</option>
                <option th:each="fg : ${T(com.example.zellervandecastellpatientenverwaltung.domain.Versicherungsart).values()}"
                        th:value="${fg}" th:text="${fg}"></option>
            </select>
            <div class="text-danger" th:if="${#fields.hasErrors('versicherungsart')}" th:errors="*{versicherungsart}"></div>
        </div>




        <fieldset class="mb-3">
            <legend>Adresse</legend>
            <div class="mb-2">
                <label for="strasse-edit" class="form-label">Straße</label>
                <input type="text" th:field="*{adresse.strasse}" class="form-control" id="strasse-edit" required>
            </div>
            <div class="mb-2">
                <label for="hausnr-edit" class="form-label">Hausnummer</label>
                <input type="text" th:field="*{adresse.hausNr}" class="form-control" id="hausnr-edit" required>
            </div>
            <div class="mb-2">
                <label for="plz-edit" class="form-label">PLZ</label>
                <input type="text" th:field="*{adresse.plz}" class="form-control" id="plz-edit" required>
            </div>
            <div class="mb-2">
                <label for="stadt-edit" class="form-label">Stadt</label>
                <input type="text" th:field="*{adresse.stadt}" class="form-control" id="stadt-edit" required>
            </div>
        </fieldset>

        <fieldset class="mb-3">
            <legend>Telefonnummer</legend>
            <div class="mb-2">
                <label for="lkennzahl-edit" class="form-label">Landeskennzahl</label>
                <input type="text" th:field="*{telefonNummer.lkennzahl}" class="form-control" id="lkennzahl-edit" required>
            </div>
            <div class="mb-2">
                <label for="okennzahl-edit" class="form-label">Ortskennzahl</label>
                <input type="text" th:field="*{telefonNummer.okennzahl}" class="form-control" id="okennzahl-edit" required>
            </div>
            <div class="mb-2">
                <label for="rufnummer-edit" class="form-label">Rufnummer</label>
                <input type="text" th:field="*{telefonNummer.rufnummer}" class="form-control" id="rufnummer-edit" required>
            </div>
            <div class="mb-2">
                <label for="art-edit" class="form-label">Art</label>
                <select th:field="*{telefonNummer.art}" class="form-select" id="art-edit" required>
                    <option value="" disabled>Bitte wählen…</option>
                    <option th:each="art : ${T(com.example.zellervandecastellpatientenverwaltung.domain.TelefonNummerArt).values()}"
                            th:value="${art}" th:text="${art}"></option>
                </select>
            </div>
        </fieldset>

        <div class="d-flex justify-content-between">
            <a th:href="@{/www/patienten}" class="btn btn-secondary">Zurück</a>
            <button type="submit" class="btn btn-primary">Aktualisieren</button>
        </div>
    </form>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
