<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patienten Übersicht</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container mt-4">
    <h1 class="mb-4">Patienten</h1>

    <a href="/www/patienten/add" class="btn btn-success mb-3">Neuen Patienten hinzufügen</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Adresse</th>
            <th>Versicherungsart</th>
            <th>Telefon</th>
            <th>Geburtsdatum</th>
            <th>Aktionen</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(patienten)}">
            <td colspan="6">Keine Patienten gefunden</td>
        </tr>
        <tr th:each="patient : ${patienten}">
            <td th:text="${patient.name}">Name</td>
            <td th:text="${patient.adresse.getStrasse() + ' ' + patient.adresse.getHausNr() + ', ' + patient.adresse.getPlz() + ' ' + patient.adresse.getStadt()}">Adresse</td>
            <td th:text="${patient.versicherungsart}">Versicherungsart</td>
            <td th:text="${patient.telefonNummer.getLkennzahl() + '' + patient.telefonNummer.getOkennzahl() + '' + patient.telefonNummer.getRufnummer()}">Telefon</td>
            <td th:text="${patient.gebDatum}">Geburtsdatum</td>
            <td>
                <div class="d-flex gap-2">

                <a th:href="@{/www/patienten/edit/{id}(id=${patient.id})}" class="btn btn-sm btn-primary">Bearbeiten</a>
                <a th:href="@{/www/patienten/delete/{id}(id=${patient.id})}" class="btn btn-sm btn-danger"
                   onclick="return confirm('Diesen Patienten wirklich löschen?');">Löschen</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>